p{
	font-size: 22pt;
	color: red;
}
#gruby_kaminski{
	color: green;
	font-size: 17pt;
	font-weight: normal;
}
#dlawszystkich_kaminski{
	color: yellow;
	font-size: 10pt;
	font-family: Arial;
}